html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fbfafa;
    max-width: 100%;
    overflow-x: hidden;
}
.head{
	background: url(../img/header.jpg) no-repeat center center; 
	background-size: cover;
	height: 481px;
}
.instagram{
	position: absolute;
	font-family: 'Myriad Pro';
	font-size: 20px;
	right: 20px;
	top: 10px;
	color: #ffffff;
}
.instagram img{
	margin-top: -3px;
}
/*navigation*/
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.75);
}
.nav-center{
	align-items: center;
	display: flex;
	justify-content: center;
}
.topnav a {
	font-weight: 600;
    float: left;
    display: block;
    color: #525252;
    text-align: center;
    padding: 24px 36px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .icon {
    display: none;
}
.hot-dog{
	padding: 90px 100px;
	text-align: center; 
}
h1{
	font-weight: 300;
	font-size: 56px;
}
.btn-blue{
	margin: 70px 0;
	padding: 15px 30px;
	font-size: 18px;
	background-color: #286782;
	border: 0px;
	border-radius: 5px;
}
.btn-blue:hover{
	background-color: #5394b0;
}
.line{
	width: 30px;
	height: 15px;
	border-bottom: 2px solid #286782;
	position: absolute;
}
.block-text{
	width: 50vw;
    height: 40vw;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	padding: 0 70px 0 100px;
}
.block-img{
	width: 50.4vw;
    height: 40vw;
	padding: 0 70px 0 100px;
	/*background: url(../img/header.jpg) no-repeat center center; */
}
h3{
	font-size: 24px;
	font-weight: 700;
	color: #555559;
}
p{
	font-size: 14px;
	font-weight: 400;
	padding-top: 20px;
	color: #555559;
}
footer{
	font-size: 12px;
	background-color: #efefef;
	color: #555559;
	padding: 20px 15px;
}
footer a{
	color: #555559;;
}
.position{
  	 text-align: right;
 }
/*navigation media*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .nav-center{
  	display: block;
  }
  .hot-dog{
  	padding: 30px 30px 0 30px;
  }

  h1{
 	font-size: 30px;
  }
  .block-text{
  	width: 100vw;
  	padding: 0 30px 0 30px;
  }
  .block-img{
  	width: 100vw;
  	height: 300px;
  }
  .position{
  	 text-align: left;
 }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}  